
.analysis-root {
  flex-grow: 1;
  max-width: 25vw;
  align-items: center;
  float: left;
  .analysis-form {
    .MuiGrid-container {
      padding: 20px;
    }
  }
  .MuiGrid-root {
    width: 100vw;
    .analysis-type-container {
      text-align: center;
    }
  }
  .analysis-type-container {
    margin-top: 35px;
    .analysis-type-label {
      font-size: 1.5em;
      font-weight: bold;
      color: black;
      margin-bottom: 10px;
      margin-right: 70px;
    }
  }
  .accordion-titles{
    font-size: 15px;
    font-weight: bold;
  }
  .analysis-form {
    .analysis-card {
      background-color: #C5D3E0;
      text-align: center;
      padding: 5px;
    }
    .raw-data-sections{
      // padding-right: 90px;
      width: 75%;
      padding-bottom: 0.8px;
    }
    .MuiTextField-root {
      margin: 8px;
    }
    h3 {
      margin: auto;
      text-align: center;
      margin-bottom: 20px;
      margin-top: 35px;
      font-size: 1.5em;
    }
    .makeStyles-analysisType-282 {
      margin: 0;
      text-align: center;
      fieldset {
        margin-top: 20px;
      }
      font-weight: 700;
    }   
  }
  .buttons-container {
    padding-top: 40px;
    button {
      width: 100%;
      max-width: 220px;
      background-color: #C5D3E0;
      margin: 10px auto;
      display: block;
    }
  }
}
.MuiFormControlLabel-root {
  span {
    font-weight: 700 !important;
  }
 
}

.MuiAutocomplete-tag {
  span {
    font-size: 1.2em;
  }
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  input {
    font-size: 1.2em;
    font-weight: 500;
  }
}

.MuiSelect-outlined.MuiSelect-outlined {
  font-size: 1.2em;
}
.analysis-correlation {
  max-width: auto;
  margin-top: 0;
  .MuiToolbar-root {
    padding-left: 16px;
  }
}
.MuiTableCell-root {
  padding: 0px !important;
}
.reports-root .MuiTableBody-root tr.MuiTableRow-root.MuiTableRow-hover td.MuiTableCell-root {

  div {
    font-size: 1.3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2px;
  }
}

.MuiTableCell-body {
  font-size: large;
}

.cellIsCollapse{
  white-space: nowrap !important;
}

.cellIsExpand{
  white-space: normal !important;
}

.MuiInputBase-fullWidth{
  height: 100% !important;
}
.MuiInputBase-input{
  word-break: break-word !important;
  white-space: normal !important;
  overflow: auto !important;
}

// .icon {
//   cursor: pointer;  
 
//   transition: transform 333ms ease-out, color 333ms;    
//  color:green;
// margin-left:15px;
// border:1px solid #000;
// text-align:center;
// line-height:1;
// }
.title.open .icon {
  fill: #3266D5;
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
color:red;
}
.selectorCard{
  width: 22%;
  position: fixed;
  // top: 0;
  left: 0;
  max-height: calc(100% - 70px);
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; 
}
.selectorCard::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}
.reportCard {
  width: 77%;

  // width: calc(100vw - 200px);
  left: 23%;
  position: relative;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px; width: 99vw;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
// .card {
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
//   padding: 16px;
//   text-align: center;
//   background-color: #f1f1f1;
// }

/* Hide scrollbar for Chrome, Safari and Opera */
.keep-scrolling::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.keep-scrolling {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

table thead tr th {
  /* Important */
  background-color: red;
  position: sticky;
  z-index: 100;
  top: 0;
}

