.reports-root {
  margin-top: 30px;
  flex-grow: 1;
  max-width: 92vw;
  align-items: center;
}

.report-parameters-h2 {
  margin: 40px 0 40px;
}

.history-report-jam-parameters, .daily-report-jam-parameters {
  .reports-button {
    height: 52px;
    margin-left: 44px;
  }
  .parameter-label {
    font-size: 17px;
    margin-right: 20px;
    line-height: 47px;
  }    
}

.daily-report {
  .reports-button {
    margin-left: 0;
  }
}

.history-report{
  .history-report-jam-parameters {
    text-align: center;
    margin-left: 10px;
  }
  .select {
    text-align: left;
    margin-left: 0;
  }
  .reports-button {
    height: 52px;
    margin-left: 22px;
  }
    .support-selector {
    .MuiFormControl-root.form-control {
      line-height: 47px;
    }
  }
  .flag {
    .MuiFormControl-root {
      width: 68%;
    }
  }
}

