.reports-root {
  margin-top: 30px;
  flex-grow: 1;
  max-width: 92vw;
  align-items: center;
}

.report-parameters-h2 {
  margin: 40px 0 40px;
}

.history-report-jam-parameters, .daily-report-jam-parameters {
  .reports-button {
    height: 52px;
    margin-left: 44px;
  }
  .parameter-label {
    font-size: 1.2em;
    margin-right: 20px;
    line-height: 47px;
  }    
}

.daily-report {
  .reports-button {
    margin-left: 0;
  }
}

.history-report{
  .history-report-jam-parameters {
    text-align: center;
    margin-left: 10px;
  }
  .select {
    text-align: left;
    margin-left: 0;
  }
  .reports-button {
    height: 52px;
    margin-left: 22px;
  }
    .support-selector {
    .MuiFormControl-root.form-control {
      line-height: 47px;
    }
  }
  .flag {
    .MuiFormControl-root {
      width: 68%;
    }
  }
}

.reports-root {
  .MuiButtonBase-root {
    margin-left: 0px !important;
  }
}
.reports-root {
  .MuiTableBody-root tr.MuiTableRow-root.MuiTableRow-hover td.MuiTableCell-root {
    border-right: 1px solid lightgray;
    padding: 0 !important;
    &:last-of-type, &:first-of-type {
      border-right: none;
    }
    cursor: default;
    div {
      cursor: default;
    }
  }
  .MuiTableBody-root tr.MuiTableRow-root.MuiTableRow-hover td.MuiTableCell-root {
    div {
      display: block;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .analysis-correlation .MuiTableBody-root td.MuiTableCell-root.MuiTableCell-body {
    div {
      white-space: normal !important;
    }
  }

  .MuiTableBody-root {
    border-collapse: unset;
  }

  .MUIDataTableBodyCell {
    
      font-weight: bolder;
    
  }

  .MuiTableCell-root[class*="MUIDataTableSelectCell-"]{
    background-color: white;
    font-weight: bolder;
  }

  .MuiTableBody-root {
    .MuiTableRow-root {
      .MuiTableCell-root {
        div {
          .MuiButtonBase-root {
            padding: 3px 7px 3px 3px;
          }
        }
      }
    }
  }
  .isClicked {
    white-space: normal !important;
  }
}

.analysys-correlation {
  .MuiTableRow-root .MuiTableCell-root {
    padding: 16px 0;
  }
}

.reports-expand-icon {
  padding: '5px 13px 0 0';
  margin: '0px';
  color: grey;
  &:hover{
    cursor: pointer;
  }
  &.header {
    height: 2em;
    width: 1.5em;
  }
}

.reports-root.analysis-correlation {
  .MuiTableBody-root tr.MuiTableRow-root.MuiTableRow-hover td.MuiTableCell-root {
    padding: 10px !important;
    &:first-of-type {
      border-right: 1px solid lightgray;
    }
  }
}

.reports-root {
  position: relative;
  .search-container {
    padding: 20px;
    width: 92vw;
    overflow: hidden;
    position: sticky;
    z-index: 999;
    top: 142px;
    left: 0;
    .search-icons {
      margin-top: 20px;
      cursor: pointer;
      &:first-of-type {
      margin-left: 10px;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
        border-radius: 50%;
      }
    }
    .search-value-input {
      margin-top: 7px;
    }
  }
}

.search-spin {
  display: inline-flex;
  vertical-align: middle;
  height: 61px;
  align-items: center;
  margin-left: 10px;
  svg {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  } 
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
.close-icon-container {
  display: grid;
  justify-content: end;
}

.validation-message-search-container {
  overflow: hidden;
  align-self: center;
  word-break: break-word;
  .validation-message.search-message {
    align-self: center;
    margin-left: 20px;
    font-size: 1.2em;
    margin-bottom: 5px;
  }
}

.submit-search-container {
  display: inline-flex;
  align-content: center;
  justify-content: flex-start;
  .search-icons {
    margin-top: 0;
    margin-left: 0;
  }
}
.MuiTableCell-root {
  font-weight: 540 !important;
}
.MuiRadio-root{
  span {
    font-weight: bolder !important;
  }
}


.footer-label {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 23px;
  letter-spacing: 0.01071em;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: rgba(0, 0, 0, 0.87);
  margin-right: 15px;
}
.formControl {
  display: contents !important;
  .footer-select {
    font-size: 1.2em;
    &::before, &::after {
      border-bottom: none !important;
    }
    div {
      padding: 4px 24px 5px 8px;
    }
  }
}
