.form-control {
  min-width: 120px;
  width: 100%;

  &.MuiFormControl-root {
    margin-top: 7px;
    margin-bottom: 9px;
  }
}

.autocomplete {
  display: block;
  margin: 0 auto;
  width: 100%;
  .MuiTextField-root {
    margin-left: 0 !important; 
  }
}
