@media (min-width: 600px){
  .MuiToolbar-gutters {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
}
.MuiButton-root:hover {
  background-color: #00273F !important;
}
.MuiIconButton-root {
  padding: 0 !important;
}